html,body{
	width:100%;
	height:100%;
	background-color: #eeeeee;
}

#header{
	padding:2% 1% 2% 1%;
	background-color: #e59400;
	margin-bottom:5%;
}

#header button{
	float:right;
}
#content{
	margin: 2%;
}

.button-xlarge a{
    font-size: 110%;
}


#logo>h1{
	margin:0%;
}
a{
	color:black;
}
a:hover{
	color:black;
	text-decoration: none;
}

table {
	border:1px solid #C0C0C0;
	border-collapse:collapse;
	padding:5px;
}
th {
	border:1px solid #C0C0C0;
	padding:5px;
	background:#F0F0F0;
}
 td {
	border:1px solid #C0C0C0;
	padding:5px;
}