<!DOCTYPE>
<html>
	<head>
		{% block css %}{% endblock %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	</head>
	<body>
		<div class='col-md-12' id='header'>
			<div class='col-md-4' id='logo'>
				<h1><a href="/">Line of Credit</a></h1>
			</div>
			<div class='col-md-6'></div>
			<div class='col-md-2'>				
				{%if session.username %}
					{{session.username}}
					<button class="button-xlarge">
						<a href="{{ url_for('logout') }}">Log Out</a>
					</button>
				{%else%}
					<button class="button-xlarge">
						<a href="{{ url_for('login') }}">Login</a>
					</button>
				{%endif%}
			</div>
		</div>

		{%block content%}
		{% endblock %}

	</body>
</html>